<div class="container">
    <h1 class="header-color" style="margin-top: 2em;">GET STARTED</h1>

    <form>
        <div class="row">
            <div class="col-sm">
                <input class="form-control form-control-lg" id="fname" type="text" placeholder="First name">
            </div>
            <div class="col-sm">
                <input class="form-control form-control-lg" id="lname" type="text" placeholder="Last name">
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="showEmailError" role="alert">
               E-Mail:: {{ errorEmailMessage }}
          </div>
        <input (input)="onEmailCheck($event.target.value)" class="form-control form-control-lg" id="emailInput" type="email" placeholder="Email">
        <div class="row">
            <div class="col-sm">
                <input class="form-control form-control-lg" id="password1" type="password" placeholder="Password">
            </div>
            <div class="col-sm">
                <input class="form-control form-control-lg" id="password2" type="password" placeholder="Repeat password">
            </div>
        </div>
        <label for="teamName"> The team name is example your domain from the project or company.</label>
        <div class="alert alert-danger" *ngIf="showTeamError" role="alert">
                {{ errorTeamMessage }}
          </div>
        <input  (input)="onTeamCheck($event.target.value)" class="form-control form-control-lg" id="teamName" type="text" placeholder="Team name">
  
        <re-captcha site_key="6LdiSYQUAAAAAK315b-8rNpp2KRasXz2adOOswts"></re-captcha>
        <button type="button" class="btn btn-warning">Register</button>

    </form>
</div>