<div class="impressum" style="top: 5em;">
    <div class="slider_title">Your help desk for modern support channels. </div>
</div>


<div class="c1" style="margin-top: 5em; background-color: #F1F3F4;">
    <div class="container padding5">
        <h3 class="header-color">Ticketsystem</h3>
        <div class="row">
            <div class="col-7">
                <p>Our web based ticket system help your project or company to managed tickets and support request from
                    Discord and TeamSpeak³. We are the
                    market leader of support systems for modern communication channels.
                    We rely on powerful software like the Sinusbot.</p>
            </div>
            <div class="col-5">

            </div>
        </div>
    </div>
</div>


<div class="c1" style="margin-top: 2em; background-color: #F1F3F4;">
        <div class="container padding5">
           
            <div class="row">
                <div class="col-5">
           
                </div>
                <div class="col-7">
                        <h3 class="header-color">GET STARTED</h3>
                        <p>It is very simply to use the cloud based ticket system. Connect your sinusbot instance with the Ticket system. And you can start! All your data stored on your own server. We are only a gateway. </p>
                </div>
            </div>
        </div>
    </div>